.App {
  display:flex;
  flex-direction: column;
  margin: 50px auto;
  width:50%;
  text-align:center;

    .completed {
      text-decoration: line-through;
    }

    form {
      display:flex;
      flex-direction: column;


    input {
      height: 20px;
      border: 1px solid black;
    }
    button {
      margin: 20px auto;
      width:50%;
    }
  }

}
